.Button{
    height: 40px;
    margin: 10px;
    background-color: cornflowerblue;
    color: darkkhaki;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 2px solid black;
    cursor: pointer;
}